<div class="panel panel-default" id="control_${_original_id}">
    <div class="panel-heading">${_properties['captionValue'] | h,trim}</div>
    <div class="panel-body">
        ${sublayout}
    </div>
</div>
