<%
extra_classes = " disabled" if _properties['isDisabled'] else "" 
extra_attributes = " disabled=\"disabled\"" if _properties['isDisabled'] else ""

# The code below is compatible with Bootstrap 4, and the CSS classes have been
# backported into the Bootstrap 3-based page.html
%>
<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input"${extra_attributes} id="control_${_original_id}"/>
    <label class="custom-control-label" for="control_${_original_id}">${_properties['captionValue'] | h,trim}</label>
</div>
