<%
extra_classes = " disabled" if _properties['isDisabled'] else "" 
extra_attributes = " disabled=\"disabled\"" if _properties['isDisabled'] else "" 
%>
<select id="control_${_original_id}" class="custom-select" style="width:100%">
    <option>TODO: Add option 1</option>
    <option>TODO: Add option 2</option>
    <option>TODO: Add option 3</option>
</select>
